{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Seznam knih</h1>
        {% if book_list %}
            <table class="table">
                <tbody>
                {% for book in book_list %}
                    {% for author in book.author.all %}
                    <tr>
                        <th><a class="btn text-warning" href="{{ book.get_absolute_url }}"><b>{{ book.name }}</b></a></th>
                        <td>{{ author }}</td>
                    {% endfor %}
                {% endfor %}
                    </tr>
                </tbody>
            </table>
            <a class="btn bg-warning"  href="{% url 'book-create' %}">Přidat knihu</a>
        {% endif %}
    </div>

{% endblock %}