{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-center">{{ book.name }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Autor:</th>
                    <th>Žánr:</th>
                    <th>ISBN:</th>
                    <th>Počet stran:</th>
                    <th>Datum vydání:</th>
                    <th>Hodnocení:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for author in book.author.all %}
                    <td>{{ author }}</td>
                    {% endfor %}
                    <td>{{ book.genre.all|join:", " }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.pages }}</td>
                    <td>{{ book.date }}</td>
                    <td>{{ book.rate }} <i class="bi bi-star-fill"></i></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn bg-success" href="{% url 'book-update'  book.id %}">Upravit</a>
            <a class="btn bg-danger" href="{% url 'book-delete'  book.id %}">Smazat</a>
        </div>
    </div>

{% endblock %}