{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <form action="" method="post">
            {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                <h4 class="display-4">Zadejte svůj email pro změnu hesla:</h4>
                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-success" value="Resetovat heslo">
        </form>
    </div>

{% endblock %}