{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Prosím zadejte a potvrďte své nové heslo.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nové heslo:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potvrďte nové heslo:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn bg-success" type="submit" value="Změnit heslo" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Změna hesla neproběhla</h1>
        <p>Odkaz na resetování hesla byl již použit. Zažádejte znovu o změnu hesla.</p>
    {% endif %}
{% endblock %}
